  <!-- footer -->
  <footer>
    <div class="footer-container">
      <h2>Follow Me!</h2>
      <ul>
        <li>
          <a href="#">
            <img loading="lazy" src="https://media.nngroup.com/static/img/icons/linkedin-icon.svg" alt="Nahalil LinkedIn Account">
            <span>LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img loading="lazy" src="https://media.nngroup.com/static/img/icons/instagram-icon.svg" alt="Nahalil Instagram Account">
            <span>Instagram</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img loading="lazy" src="https://media.nngroup.com/static/img/icons/youtube-icon.svg" alt="Nahalil Youtube Account">
            <span>Youtube</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img loading="lazy" src="https://media.nngroup.com/static/img/icons/twitter-icon.svg" alt="NN/g Twitter Account">
            <span>Twitter</span>
          </a>
        </li>
      </ul>
      <p>© copyright NahlBee 2024</p>
    </div>
  </footer>
  <script src="https://kit.fontawesome.com/ad187b75bd.js" crossorigin="anonymous"></script>
  <script src="/function/index.js"></script>
</body>
</html>